<div class="forgot">
    <h2>Reset Password</h2>
    <p>Enter your username and we will send you an email that will allow you to get your password</p>
    <input type="text" name="username" id="username" placeholder="Enter username">
    <div>
        <a href="/auth/login"><button>Proceed to login</button></a>
        <button class="forgotBtn" type="submit">Send email</button>
    </div>
    <%- include('../partials/notif')%>
</div>