<select class="account-section" data-id="<%= currentUser.userID%>">
    <option value="<%= currentUser.username%>"><%= currentUser.username%></option>
    <option value="logout">Logout</option>
</select>