<main class="hero">
    <div class="introduction">
        <h2>Affordable & Effective Hemp and Herbal Products for Everyday Wellness.</h2>
        <p>Affordable & Effective Hemp and Herbal Products for Everyday Wellness
            Experience the power of nature with our affordable and effective hemp and herbal products, carefully crafted to provide you with holistic wellness solutions at a price that fits your budget. Whether you're looking to improve your physical health, manage stress, or support your skin, our products offer natural, safe, and sustainable alternatives without </p>
            <p style="color: grey;">
                <span style="font-weight: bold; color: grey;">Email: 
                </span>SERVEbiteService@gmail.com

                <br>
               <span style="font-weight: bold; color: grey;">Office Hour:</span> 
                <br>
                Sunday: Closed
                <br>
                Monday-Tuesday: 7:00AM - 5:00PM
                <br>
                Shabbat: Closed
            </p>
        <button class="discover">Discover now</button>
    </div>
    <div class="img-container"></div>